files:
  # Create the sites-available directory
  "/etc/nginx/sites-available/":
    mode: "000755"
    owner: root
    group: root
  # Create the sites-enabled directory if it does not exist
  "/etc/nginx/sites-enabled/":
    mode: "000755"
    owner: root
    group: root

  # Place your reverse-proxy.conf file in sites-available
  "/etc/nginx/sites-available/reverse-proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name your_domain_or_ip;

          location / {
              proxy_pass http://localhost:3000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }

       

commands:
  # Create symbolic link in sites-enabled
  01_enable_reverse_proxy:
    command: "ln -sf /etc/nginx/sites-available/reverse-proxy.conf /etc/nginx/sites-enabled/reverse-proxy.conf"
    ignoreErrors: false

  # Restart Nginx to apply the new configuration
  02_restart_nginx:
    command: "sudo systemctl restart nginx"
    ignoreErrors: false
